<div class="container-fluid">

    <div class="row mt-3">

        <!-- FORM & USER ONLINE -->
        <div class="col-6">
            <!-- FORM -->
            <div>
                <h3>Chat</h3>
                <form [formGroup]="_form" (ngSubmit)="onSubmit($event)">

                    <!-- USERNAME -->
                    <div class="form-group">
                        <input formControlName="username" placeholder="Username" class="form-control">
                    </div>

                    <!-- MESSAGE -->
                    <div class="form-group">
                        <input formControlName="message" placeholder="Type message ..." class="form-control" />
                    </div>

                    <!-- SUBMIT BUTTON -->
                    <div class="form-group">
                        <button class="mt-2 btn btn-primary" [disabled]="!isEnableSubmitBtn()">submit</button>
                    </div>
                </form>
            </div>

            <!-- USER ONLINE -->
            <div>
                <h4>User online ({{_userOnline.length}})</h4>
                <div *ngFor="let item of _userOnline">
                    <span class="text-success font-weight-bold">{{item.username}}</span>
                </div>
            </div>
        </div>

        <!-- MESSAGES -->
        <div class="col-6">
            <h3>Messages</h3>
            <ng-template [ngIf]="_messages.length > 0">
                <ul id="message-container" class="list-group" >
                    <li *ngFor="let message of _messages" class="list-group-item">
                        <span class="username" [class.text-dark]="!isMine(message.username)" [class.text-primary]="isMine(message.username)">{{message.username}}:</span>
                        <span class="message">{{ message.content}}</span>
                    </li>
                </ul>
            </ng-template>
            <ng-template [ngIf]="_messages.length ==0">
                <div class="alert alert-primary" role="alert">
                    Let's start a conversation!
                </div>
            </ng-template>
        </div>

    </div>

</div>